@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

$primary: #2947A9;
$secondary: #F9995D;
$neu900: #14171F;
$neu800: #292E3D;
$neu700: #3D445C;
$neu600: #525B7A;
$neu500: #667299;
$neu400: #858EAD;
$neu300: #A3AAC2;
$neu200: #C2C7D6;
$neu100: #E0E3EB;
$neu50: #F6F8F7;
$white: #fff;
$black: #000;
$transparent: rgba(117, 190, 218, 0);

@mixin sans($fs, $fw, $lh) {
    font-family: 'Work Sans', sans-serif;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin flex($jc, $ai, $gp) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gp;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    @include flex(space-between, center, none);
    padding: 16px 112px;

    .nav {
        .list {
            @include flex(flex-start, center, 50px);

            &__item {
                &-link {
                    @include sans(18px, 400, normal);
                    color: $neu900;
                }
            }

            &__item1 {
                &-link {
                    @include sans(18px, 600, normal);
                    color: $secondary;
                }
            }
        }
    }
}

.main {
    .hero {
        background-image: url(../img/low-angle-shot-of-a-facade-of-a-white-modern-building-under-a-blue-clear-sky.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        &__h1 {
            color: $black;
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 5;
            @include sans(72px, 600, normal);
            padding-left: 112px;
        }

        .features {
            grid-area: block;
            display: grid;
            grid-template-areas:
                'span1 span1'
                'h2 h2'
                'but2 but1';
            height: fit-content;
            width: fit-content;
            background-color: $primary;

            &__span {
                text-align: center;
                grid-area: span1;
                color: $white;
                @include sans(20px, 700, normal);
                padding: 20px 0;
            }

            &__p {
                text-align: center;
                grid-area: h2;
                color: $white;
                @include sans(24px, 400, normal);
                padding-bottom: 26px;
                width: 312px;
                margin: 0 auto;
            }

            &__next {
                @include flex(center, center, 10px);
                grid-area: but1;
                width: 207px;
                height: 40px;
                background-color: $black;

                &-link {
                    color: $white;
                    text-align: center;
                    @include sans(18px, 400, normal);
                }
            }

            &__back {
                @include flex(center, center, 10px);
                grid-area: but2;
                width: 207px;
                height: 40px;
                background-color: $black;

                &-link {
                    color: $white;
                    text-align: center;
                    @include sans(18px, 400, normal);
                }
            }
        }
    }

    .rep {
        @include flex(center, center, 50px);
        flex-direction: column;
        padding: 60px 0;

        &__h2 {
            @include sans(36px, 700, normal);
        }

        .item {
            @include flex(center, center, 70px);

            .card {
                @include flex(flex-start, flex-start, 18px);
                flex-direction: column;
                border: 1.4px solid $neu100;
                height: fit-content;
                padding: 20px;
                width: 292px;

                &__h3 {
                    @include sans(20px, 700, normal);
                    color: $neu700;
                }

                &__p {
                    @include sans(16px, 400, normal);
                    color: $neu400;
                    width: 254px;
                }
            }
        }
    }

    .about {
        position: relative;

        &__img {
            margin: 74px 0 200px 114px;
            background-image: url(../img/87a6fb6a79f6ebda83f9824c72dc2d4b.jpeg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
            width: 900px;
            height: 670px;
        }

        .card {
            position: absolute;
            top: 12%;
            right: 15%;
            padding: 40px;
            @include flex(flex-start, flex-start, 25px);
            flex-direction: column;
            width: fit-content;
            height: fit-content;
            background-color: #2947A9;

            &__h2 {
                padding: 10px 0;
                color: $white;
                @include sans(36px, 700, normal);
            }

            &__p {
                @include sans(20px, 400, normal);
                color: $white;
                width: 388px;
            }

            &__button {
                margin-top: 50px;
                padding: 16px 20px;
                background-color: $white;
                border: 2px solid $primary;
                border-radius: 6px;

                &-link {
                    color: $primary;
                    @include sans(18px, 600, normal);
                }
            }
        }
    }

    .services {
        @include flex(center, center, 36px);
        flex-direction: column;
        padding: 44px 0 76px;
        background-color: $neu50;

        &__h2 {
            @include sans(36px, 700, normal);
        }

        .list {
            @include flex(center, center, 48px);
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;

            &__item {
                margin: 0 50px;
                @include flex(center, center, 20px);
                flex-direction: column;
                background-color: $primary;
                width: 271px;
                height: 181px;

                &-h3 {
                    @include sans(20px, 600, normal);
                    color: $white;
                }

                &-svg {
                    padding: 0 10px 20px 10px;
                    border-bottom: 2px solid $neu100;
                }
            }

            &__item1 {
                @include flex(center, center, 20px);
                flex-direction: column;
                background-color: $white;
                width: 271px;
                height: 181px;

                &-h3 {
                    @include sans(20px, 600, normal);
                    color: $primary;
                }

                &-svg {
                    padding: 0 10px 20px 10px;
                    border-bottom: 2px solid $neu100;
                }
            }
        }
    }

    .experience {
        padding: 5% 0;
        @include flex(center, center, 150px);

        .list {
            display: grid;
            grid-template-areas:
                '. . . item1 item1 item1'
                'item2 item2 item2 item2 . .'
                '. . item3 item3 item3 .'
                '. item4 item4 item4 . .';

            .item1 {
                grid-area: item1;
                padding: 30px;
                @include flex(flex-start, center, 10px);
                box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.10);
                border: 1px solid $white;
                border-radius: 4px;

                .text {
                    width: fit-content;
                    @include flex(flex-start, flex-start, 2px);
                    flex-direction: column;

                    &__number {
                        @include sans(72px, 600, normal);
                        color: $neu800;
                    }

                    &__span {
                        color: $neu500;
                        @include sans(24px, 400, normal);
                        border-left: 7px solid $secondary;
                        padding-left: 12px;
                        margin-left: 20px;
                    }
                }
            }

            &__item2 {
                grid-area: item2;
                padding: 30px;
                @include flex(center, center, 10px);
                box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.10);
                border: 1px solid $white;
                border-radius: 4px;

                .text {
                    width: fit-content;
                    @include flex(flex-start, flex-start, 2px);
                    flex-direction: column;

                    &__number {
                        @include sans(72px, 600, normal);
                        color: $neu800;
                    }

                    &__span {
                        color: $neu500;
                        @include sans(24px, 400, normal);
                        border-left: 7px solid $secondary;
                        padding-left: 12px;
                        margin-left: 20px;
                    }
                }
            }

            &__item3 {
                grid-area: item3;
                padding: 30px;
                @include flex(center, center, 10px);
                box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.10);
                border: 1px solid $white;
                border-radius: 4px;

                .text {
                    width: fit-content;
                    @include flex(flex-start, flex-start, 2px);
                    flex-direction: column;

                    &__number {
                        @include sans(72px, 600, normal);
                        color: $neu800;
                    }

                    &__span {
                        color: $neu500;
                        @include sans(24px, 400, normal);
                        border-left: 7px solid $secondary;
                        padding-left: 12px;
                        margin-left: 20px;
                    }
                }
            }

            &__item4 {
                grid-area: item4;
                padding: 30px;
                @include flex(center, center, 10px);
                box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.10);
                border: 1px solid $white;
                border-radius: 4px;

                .text {
                    width: fit-content;
                    @include flex(flex-start, flex-start, 2px);
                    flex-direction: column;

                    &__number {
                        @include sans(72px, 600, normal);
                        color: $neu800;
                    }

                    &__span {
                        color: $neu500;
                        @include sans(24px, 400, normal);
                        border-left: 7px solid $secondary;
                        padding-left: 12px;
                        margin-left: 20px;
                    }
                }
            }
        }

        .text {
            @include flex(flex-start, flex-start, 40px);
            flex-direction: column;
            width: 330px;

            &__h2 {
                color: $primary;
                @include sans(60px, 700, normal);
            }

            &__p {
                color: $neu600;
                @include sans(20px, 400, normal);
            }

            &__button {
                padding: 16px 20px;
                background-color: $primary;
                border-radius: 2px;

                &-link {
                    color: $white;
                    @include sans(18px, 600, normal);
                }
            }
        }
    }

    .consultation {
        @include flex(center, center, 180px);
        padding: 100px;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/fon1.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__text {
            @include flex(flex-start, flex-start, 30px);
            flex-direction: column;

            &-h2 {
                color: $white;
                @include sans(36px, 700, normal);
            }

            &-p {
                @include flex(center, center, 10px);

                &_p1 {
                    color: $white;
                    @include sans(24px, 400, normal);
                }

                &_p2 {
                    color: $white;
                    @include sans(24px, 400, normal);
                    text-decoration: underline;
                }
            }
        }

        &__button {
            background-color: $transparent;
            border: 2px solid $white;
            border-radius: 2px;
            padding: 16px 20px;

            &-link {
                color: $white;
                @include sans(18px, 600, normal);
            }
        }
    }

    .project {
        padding: 5% 0;
        @include flex(space-around, flex-start, none);

        .text {
            @include flex(flex-start, flex-start, 40px);
            flex-direction: column;

            &__h2 {
                color: $neu800;
                @include sans(36px, 700, normal);
            }

            &__list {
                @include flex(flex-start, flex-start, 20px);
                flex-direction: column;

                &-item1 {
                    border-left: 4px solid $primary;

                    &-link {
                        color: $primary;
                        @include sans(24px, 700, normal);
                        padding-left: 16px;
                    }
                }

                &-item {
                    &-link {
                        color: $neu200;
                        @include sans(24px, 500, normal);
                        padding-left: 16px;
                    }
                }
            }
        }

        .cards {
            padding-top: 5%;
            width: 800px;
            @include flex(center, center, 32px);
            flex-wrap: wrap;

            &__card1 {
                grid-area: card1;
                background-image: url(../img/card1.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 330px;
                width: 384px;

                .text {
                    @include flex(flex-start, flex-start, 12px);
                    padding: 12px 0 12px 12px;
                    flex-direction: column;
                    background-color: $primary;

                    &__h3 {
                        color: $white;
                        @include sans(20px, 700, normal);
                    }

                    &__p {
                        color: $white;
                        @include sans(18px, 400, normal);
                    }
                }
            }

            &__card2 {
                grid-area: card2;
                background-image: url(../img/card2.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 330px;
                width: 384px;

                .text {
                    @include flex(flex-start, flex-start, 12px);
                    padding: 12px 0 12px 12px;
                    flex-direction: column;
                    background-color: $primary;

                    &__h3 {
                        color: $white;
                        @include sans(20px, 700, normal);
                    }

                    &__p {
                        color: $white;
                        @include sans(18px, 400, normal);
                    }
                }
            }

            &__card3 {
                grid-area: card3;
                background-image: url(../img/card3.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 330px;
                width: 384px;

                .text {
                    @include flex(flex-start, flex-start, 12px);
                    padding: 12px 0 12px 12px;
                    flex-direction: column;
                    background-color: $primary;

                    &__h3 {
                        color: $white;
                        @include sans(20px, 700, normal);
                    }

                    &__p {
                        color: $white;
                        @include sans(18px, 400, normal);
                    }
                }
            }

            &__card4 {
                grid-area: card4;
                background-image: url(../img/card4.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 330px;
                width: 384px;

                .text {
                    @include flex(flex-start, flex-start, 12px);
                    padding: 12px 0 12px 12px;
                    flex-direction: column;
                    background-color: $primary;

                    &__h3 {
                        color: $white;
                        @include sans(20px, 700, normal);
                    }

                    &__p {
                        color: $white;
                        @include sans(18px, 400, normal);
                    }
                }
            }

            .paginator {
                width: 800px;
                grid-area: pag;
                @include flex(space-between, center, none);

                &__button1 {
                    @include flex(center, center, 10px);
                    width: 295px;
                    height: 64px;
                    background-color: $neu800;

                    &-link {
                        color: $white;
                        @include sans(18px, 400, normal);
                    }
                }

                &__button2 {
                    @include flex(center, center, 10px);
                    width: 295px;
                    height: 64px;
                    background-color: $neu800;

                    &-link {
                        color: $white;
                        @include sans(18px, 400, normal);
                    }
                }

                &__dots {
                    @include flex(flex-start, center, 16px);
                }
            }
        }
    }

    .form {
        padding: 5% 0;
        @include flex(center, center, 8px);
        flex-direction: column;
        background-color: $neu50;

        &__h2 {
            margin: 0 auto;
            color: $neu800;
            @include sans(36px, 700, normal);
            text-align: center;
        }

        &__p {
            margin: 1% auto;
            color: $neu800;
            @include sans(20px, 400, normal);
            width: 35%;
            text-align: center;
        }

        &__p2 {
            @include sans(16px, 400, normal);
            color: $neu500;
        }

        .input {
            width: 50%;
            margin: 0 auto;
            @include flex(center, center, 20px);
            flex-wrap: wrap;

            .form-control::placeholder {
                color: $neu300;
                @include sans(18px, 400, normal);
            }

            .form-control {
                margin: 0 10px;
                height: 40px;
                width: 280px;
                border: 1px solid $neu100;
                border-radius: 4px;
                background-color: $white;
            }

            &__p {
                color: $neu500;
                @include sans(16px, 400, normal);
            }

            .form-select {
                color: $neu300;
                @include sans(18px, 400, normal);
                width: 280px;
                height: 41px;
                margin: 0 10px;
            }

            .input-group {
                width: 600px;

                &-text {
                    color: $neu300;
                    @include sans(18px, 400, normal);
                }

                .form-control {
                    margin: 0;
                    height: 135px;
                }
            }
        }

        &__button {
            width: 271px;
            height: 53px;
            background-color: $primary;

            &-link {
                color: $white;
                @include sans(18px, 600, normal);
            }
        }
    }

    .bottom {
        padding: 5% 0;
        @include flex(space-around, flex-start, none);
        .left {
            @include flex(flex-start, flex-start, 32px);
            flex-direction: column;
            .info {
                @include flex(flex-start, flex-start, 32px);
                flex-direction: column;
                &__address {
                    color: $neu800;
                    @include sans(20px, 400, normal);
                    text-transform: capitalize;

                    &-span {
                        color: $primary;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }

                &__phone {
                    color: $neu800;
                    @include sans(20px, 400, normal);
                    text-transform: capitalize;

                    &-span {
                        color: $primary;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }

                &__email {
                    color: $neu800;
                    @include sans(20px, 400, normal);

                    &-span {
                        color: $primary;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }

        .right {
            @include flex(flex-start, flex-start, 42px);
            flex-direction: column;
            &__newsletter {
                @include flex(flex-start, flex-start, 20px);
                flex-direction: column;

                &-span {
                    @include sans(20px, 500, normal);
                    color: $primary;
                }

                .input-group {
                    width: 420px;

                    .form-control::placeholder {
                        color: $neu300;
                        @include sans(18px, 400, normal);
                    }
                    .btn{
                        background-color: $secondary;
                        color: $white;
                    }
                }
            }

            &__social {
                @include flex(flex-start, flex-start, 20px);
                flex-direction: column;

                &-span {
                    @include sans(20px, 500, normal);
                    color: $primary;
                }

                &-icons {
                    @include flex(flex-start, center, 20px);
                }
            }
        }
    }
}
.footer{
    @include flex(flex-start, center, none);
    height: 70px;
    background-color: $primary;
    &__span{
        margin: 0 10%;
        color: $white;
        @include sans(16px, 400, normal);
        text-align: center;
    }
}