@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: none;
  padding: 16px 112px;
}
.header .nav .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.header .nav .list__item-link {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #14171F;
}
.header .nav .list__item1-link {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #F9995D;
}

.main .hero {
  background-image: url(../img/low-angle-shot-of-a-facade-of-a-white-modern-building-under-a-blue-clear-sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.main .hero__h1 {
  color: #000;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
  padding-left: 112px;
}
.main .hero .features {
  grid-area: block;
  display: grid;
  grid-template-areas: "span1 span1" "h2 h2" "but2 but1";
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #2947A9;
}
.main .hero .features__span {
  text-align: center;
  grid-area: span1;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 20px 0;
}
.main .hero .features__p {
  text-align: center;
  grid-area: h2;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 26px;
  width: 312px;
  margin: 0 auto;
}
.main .hero .features__next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-area: but1;
  width: 207px;
  height: 40px;
  background-color: #000;
}
.main .hero .features__next-link {
  color: #fff;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .hero .features__back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-area: but2;
  width: 207px;
  height: 40px;
  background-color: #000;
}
.main .hero .features__back-link {
  color: #fff;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .rep {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  padding: 60px 0;
}
.main .rep__h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.main .rep .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.main .rep .item .card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  flex-direction: column;
  border: 1.4px solid #E0E3EB;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  width: 292px;
}
.main .rep .item .card__h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: #3D445C;
}
.main .rep .item .card__p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #858EAD;
  width: 254px;
}
.main .about {
  position: relative;
}
.main .about__img {
  margin: 74px 0 200px 114px;
  background-image: url(../img/87a6fb6a79f6ebda83f9824c72dc2d4b.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 900px;
  height: 670px;
}
.main .about .card {
  position: absolute;
  top: 12%;
  right: 15%;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2947A9;
}
.main .about .card__h2 {
  padding: 10px 0;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.main .about .card__p {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  width: 388px;
}
.main .about .card__button {
  margin-top: 50px;
  padding: 16px 20px;
  background-color: #fff;
  border: 2px solid #2947A9;
  border-radius: 6px;
}
.main .about .card__button-link {
  color: #2947A9;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.main .services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  flex-direction: column;
  padding: 44px 0 76px;
  background-color: #F6F8F7;
}
.main .services__h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.main .services .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.main .services .list__item {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: #2947A9;
  width: 271px;
  height: 181px;
}
.main .services .list__item-h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}
.main .services .list__item-svg {
  padding: 0 10px 20px 10px;
  border-bottom: 2px solid #E0E3EB;
}
.main .services .list__item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: #fff;
  width: 271px;
  height: 181px;
}
.main .services .list__item1-h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #2947A9;
}
.main .services .list__item1-svg {
  padding: 0 10px 20px 10px;
  border-bottom: 2px solid #E0E3EB;
}
.main .experience {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.main .experience .list {
  display: grid;
  grid-template-areas: ". . . item1 item1 item1" "item2 item2 item2 item2 . ." ". . item3 item3 item3 ." ". item4 item4 item4 . .";
}
.main .experience .list .item1 {
  grid-area: item1;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.1);
  border: 1px solid #fff;
  border-radius: 4px;
}
.main .experience .list .item1 .text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  flex-direction: column;
}
.main .experience .list .item1 .text__number {
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
  color: #292E3D;
}
.main .experience .list .item1 .text__span {
  color: #667299;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-left: 7px solid #F9995D;
  padding-left: 12px;
  margin-left: 20px;
}
.main .experience .list__item2 {
  grid-area: item2;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.1);
  border: 1px solid #fff;
  border-radius: 4px;
}
.main .experience .list__item2 .text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  flex-direction: column;
}
.main .experience .list__item2 .text__number {
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
  color: #292E3D;
}
.main .experience .list__item2 .text__span {
  color: #667299;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-left: 7px solid #F9995D;
  padding-left: 12px;
  margin-left: 20px;
}
.main .experience .list__item3 {
  grid-area: item3;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.1);
  border: 1px solid #fff;
  border-radius: 4px;
}
.main .experience .list__item3 .text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  flex-direction: column;
}
.main .experience .list__item3 .text__number {
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
  color: #292E3D;
}
.main .experience .list__item3 .text__span {
  color: #667299;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-left: 7px solid #F9995D;
  padding-left: 12px;
  margin-left: 20px;
}
.main .experience .list__item4 {
  grid-area: item4;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.1);
  border: 1px solid #fff;
  border-radius: 4px;
}
.main .experience .list__item4 .text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  flex-direction: column;
}
.main .experience .list__item4 .text__number {
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
  color: #292E3D;
}
.main .experience .list__item4 .text__span {
  color: #667299;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-left: 7px solid #F9995D;
  padding-left: 12px;
  margin-left: 20px;
}
.main .experience .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
  width: 330px;
}
.main .experience .text__h2 {
  color: #2947A9;
  font-family: "Work Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}
.main .experience .text__p {
  color: #525B7A;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.main .experience .text__button {
  padding: 16px 20px;
  background-color: #2947A9;
  border-radius: 2px;
}
.main .experience .text__button-link {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.main .consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  padding: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/fon1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .consultation__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}
.main .consultation__text-h2 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.main .consultation__text-p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .consultation__text-p_p1 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.main .consultation__text-p_p2 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.main .consultation__button {
  background-color: rgba(117, 190, 218, 0);
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 16px 20px;
}
.main .consultation__button-link {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.main .project {
  padding: 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: none;
}
.main .project .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}
.main .project .text__h2 {
  color: #292E3D;
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.main .project .text__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}
.main .project .text__list-item1 {
  border-left: 4px solid #2947A9;
}
.main .project .text__list-item1-link {
  color: #2947A9;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-left: 16px;
}
.main .project .text__list-item-link {
  color: #C2C7D6;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding-left: 16px;
}
.main .project .cards {
  padding-top: 5%;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.main .project .cards__card1 {
  grid-area: card1;
  background-image: url(../img/card1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  width: 384px;
}
.main .project .cards__card1 .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 0 12px 12px;
  flex-direction: column;
  background-color: #2947A9;
}
.main .project .cards__card1 .text__h3 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.main .project .cards__card1 .text__p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .project .cards__card2 {
  grid-area: card2;
  background-image: url(../img/card2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  width: 384px;
}
.main .project .cards__card2 .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 0 12px 12px;
  flex-direction: column;
  background-color: #2947A9;
}
.main .project .cards__card2 .text__h3 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.main .project .cards__card2 .text__p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .project .cards__card3 {
  grid-area: card3;
  background-image: url(../img/card3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  width: 384px;
}
.main .project .cards__card3 .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 0 12px 12px;
  flex-direction: column;
  background-color: #2947A9;
}
.main .project .cards__card3 .text__h3 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.main .project .cards__card3 .text__p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .project .cards__card4 {
  grid-area: card4;
  background-image: url(../img/card4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  width: 384px;
}
.main .project .cards__card4 .text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px 0 12px 12px;
  flex-direction: column;
  background-color: #2947A9;
}
.main .project .cards__card4 .text__h3 {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.main .project .cards__card4 .text__p {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .project .cards .paginator {
  width: 800px;
  grid-area: pag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: none;
}
.main .project .cards .paginator__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 295px;
  height: 64px;
  background-color: #292E3D;
}
.main .project .cards .paginator__button1-link {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .project .cards .paginator__button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 295px;
  height: 64px;
  background-color: #292E3D;
}
.main .project .cards .paginator__button2-link {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.main .project .cards .paginator__dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}/*# sourceMappingURL=style.css.map */